@media (max-width: 1399px)
    .print
        min-height: 670px
        .col-xxl-6
            padding-left: 50px
            padding-right: 50px  
    .promo
        height: 700px
        &_foto
            img
                width: 1000px
    .print
        min-height: 800px
@media (max-width: 1199px)
    .logo
        img
            margin-left: 45px
    .promo
        height: 600px
        &_foto
            img
                width: 900px
        &_descr
            margin-top: 45px
            h2
                font-size: 28px
    .print
        min-height: 770px
        &_text
            margin-bottom: 30px
        .col-xl-6
            padding-left: 40px
            padding-right: 40px
@media (max-width: 991px)
    .print
        min-height: 770px
    .logo
        img
            margin-left: 45px
            width: 200px
            height: 105px
    .menu
        font-size: 15px
        padding-top: 18px
    img.wa
        display: inline-block
        width: 25px
        margin-right: 10px
        transform: translateY(-3px)
    .promo
        height: 450px
        &_foto
            img
                width: 600px
        &_descr
            margin-top: 0px
            text-align: center
            h1
                font-size: 35px
            h2
                font-size: 28px
        a
            text-decoration: none
    .col-xl-6
        padding-bottom: 40px
@media (max-width: 767px)
    .menu
        position: fixed
        flex-direction: column
        justify-content: center
        align-items: center 
        top: 0
        left: -100%
        width: 50%
        height: 100vh
        padding: 20px 15px
        background-color: rgba(0, 0, 0, .8)
        transition: 1s all
        z-index: 2
        &_active
            left: 0
        &_item
            padding-right: 0
            border: none
            font-size: 25px
            margin: 40px 0px
            &_i
                display: none
    .hamburger
        display: block
        position: absolute
        right: 10px
        top: 50%
        transform: translateY(-50%)
        width: 26px
        height: 12px
        span
            display: block
            height: 2px
            width: 100%
            background-color: #fff
            margin-bottom: 2px
            transition: 1s all
        &_active
            span
                margin-bottom: -2px
                &:nth-child(1)
                    transform: translateY(5px) rotate(-45deg)
                &:nth-child(2)
                    display: none
                &:nth-child(3)
                    transform: translateY(5px) rotate(45deg)
    .logo
        img
            margin-top: 60px
            margin-bottom: 20px
            margin-left: 45px
            width: 200px
            height: 105px
    .menu
        &_mini
            display: flex
            margin-top: 13px
            justify-content: flex-end
            margin-right: 60px
            font-family: Nautilus
            font-size: 20px
            a
                text-decoration: none
                padding-left: 10px
                color: #DB7093
            a:hover
                color: #FFFFFF
    img.wapp
        width: 27px
        margin-right: 5px
        margin-bottom: 5px
    .xs-hidden
        display: none
    .mg
        display: flex
        justify-content: center
        &_logo
            padding-top: 150px
            width: 500px
    .promo
        height: 430px
        &_min
            width: 500px
        &_foto
            img
                display: none
        &_copy
            img
                display: block
                margin: 0 auto
                width: 200px
                height: 200px
        a
            text-decoration: none
    h1
        padding-top: 20px
    .pay
        &_line
            width: 300px
    .print
        min-height: 750px
@media (max-width: 575px)
    .menu
        &_mini
            font-size: 15px
            margin-top: 15px
            margin-right: 35px
    img.wapp
        width: 20px
        margin-right: 5px
    .hamburger
        width: 20px
        span
            transition: 0.9s all
    .menu
        &_item
            font-size: 20px
            text-align: center
            a
                padding-left: 0px
    .logo
        img
            margin-top: 60px
            width: 120px
            height: 65px
            margin-left: 0px
    .mg
        display: flex
        justify-content: center
        &_logo
            padding-top: 150px
            width: 280px
    .promo
        height: 300px
        &_copy
            img
                display: none
        &_descr
            h1
                font-size: 30px
                margin-top: 30px
            h2
                font-size: 20px
        a
            text-decoration: none
    .print
        min-height: 800px
        &_descr
            font-size: 12px
            h4
                font-size: 15px
    table
        th
            font-size: 10px
    .col-xl-6
        padding-bottom: 20px
    .pay
        &_delivery
            h5
                font-size: 15px
            li
                font-size: 12px
        &_text
            h5
                font-size: 15px
            li
                font-size: 12px
    .contact
        &_text
            font-size: 14px
.col-sm-6.dev
    display: flex
    justify-content: center
.col-sm-6
    display: flex
    justify-content: center

            

